* {
  margin: 0;
  padding: 0;
}

:root {
  --charcoal-theme: #264653;
  --turquoise-theme: #2a9d8f;
  --yellow-theme: #e9c46a;
  --orange-theme: #f4a261;
  --sienna-theme: #e76f51;
  --transparent-theme: rgba(0, 0, 255, 0);
  --delete-theme: #b83225;
  --cashout-theme: #46a739;

  --green-movement: #0dcf0d;
  --red-movement: #df2525;
  --grey-movement: #707070;

  --sold-position: #b1b1b1;

  --thin-border: solid 1px rgba(146, 146, 146, 0.1);
}

button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

body {
  min-height: 100vh;
  /* background-color: green; */
  background-image: linear-gradient(
    to top left,
    var(--charcoal-theme),
    var(--turquoise-theme),
    var(--yellow-theme)
  );
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  color: black;
  position: relative;
}

/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(144, 143, 143, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(126, 125, 125, 0.897);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(175, 173, 173);
}

/* NAVIGATION */
nav {
  margin: 1.5rem auto;
  width: 30rem;
  height: 3rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 2rem;
  border-radius: 2rem;
  /* box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25); */
  border: none;
  /* display: none; */
}

nav button {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-image: linear-gradient(
    to top right,
    var(--sienna-theme),
    var(--orange-theme),
    var(--yellow-theme)
  );
  box-shadow: 8px 8px 15px rgba(22, 22, 22, 0.493);

  border: white solid 1px;
  position: relative;
  transition: border-radius 250ms;
}
nav button:hover {
  border-radius: 15px;
}

nav button.current {
  border-radius: 15px;
}

nav button ion-icon {
  font-size: 2.2rem;
  color: white;
  --ionicon-stroke-width: 23px;
}

/* CONTAINER */
.container {
  max-width: 80rem;
  height: 55rem;
  background-image: linear-gradient(
    to bottom left,
    rgba(255, 255, 255, 0.979),
    rgba(255, 255, 255, 0.794)
  );
  /* background-color: white; */
  /* filter: drop-shadow(0 0 0.8rem rgb(51, 50, 50)); */
  box-shadow: 8px 8px 15px rgba(22, 22, 22, 0.493),
    2px 2px 15px rgba(22, 22, 22, 0.493);
  align-items: center;
  margin: 3rem auto 1rem auto;
  display: flex;
  /* border-radius: 20px; */
  overflow: hidden;
}

table {
  cursor: default;
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  color: white;
  background-image: linear-gradient(
    to top,
    var(--charcoal-theme),
    var(--turquoise-theme)
  );
  /* background-color: var(--turquoise-theme); */
  /* border-radius: 10px; */
}

/* Alternate row styling & hover */
td {
  border-bottom: 1px solid #ddd;
  font-size: 1.3rem;
  text-align: center;
}
tr:hover {
  background-color: #2a9d9046;
}

/* VIEWS CONTAINER */
.views-container {
  width: 95%;
  height: 95%;
  margin: auto;
  position: relative;
  /* overflow-x: scroll; */
  /* background-color: rgb(255, 255, 255); */
}

/* TREEMAP VIEW */
.treemap-view {
  width: 100%;
  height: 100%;
}

.treemap-container {
  margin: auto;
  width: 100%;
  height: 100%;
  /* background-color: rgb(27, 90, 207); */
  /* overflow-y: scroll; */
}

.new-investBTN {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--transparent-theme);
  right: 0;
  bottom: 0;
  border: solid 2px var(--turquoise-theme);
  box-shadow: 4px 4px 10px rgba(7, 7, 7, 0.404);
  z-index: 5;
}

.new-investBTN ion-icon {
  font-size: 4.9rem;
  color: var(--turquoise-theme);
  --ionicon-stroke-width: 16px;
}

/* MARKETS VIEW */
.markets-view {
  width: 100%;
  height: 100%;
  /* background-color: coral; */
  display: flex;
  flex-direction: column;
}

.market-stats {
  flex: 1;
  width: 100%;
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: column;
}
.market-stats h1 {
  flex: 1;
  /* background-color: crimson; */
  font-size: 2.2rem;
  /* text-decoration: underline; */
  text-align: center;
  background: -webkit-linear-gradient(var(--yellow-theme), var(--sienna-theme));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Stats grid */
.stats-grid-container {
  flex: 5;
  /* background-color: black; */
}

.stats-grid {
  margin: 0 auto;
  width: 90%;
  height: 90%;
  /* background-color: darkgreen; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.424);
}
.market_perf {
  grid-row: 1/3;
  border-right: var(--thin-border);
}
.big_winner {
  border-bottom: var(--thin-border);
  border-right: var(--thin-border);
}
.big_loser {
  border-right: var(--thin-border);
}
.high_volume {
  border-bottom: var(--thin-border);
}

.stats-grid div {
  display: flex;
  flex-direction: column;
}
.stats-grid div:hover {
  background-color: rgba(255, 255, 255, 0.644);
}
.stats-grid p {
  font-size: 1.5rem;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: var(--grey-movement); */
  /* background-color: rebeccapurple; */
}
.stats-grid h2 {
  margin: 1rem 0 0 1rem;
  color: var(--grey-movement);
  /* background-color: rebeccapurple; */
  /* background: -webkit-linear-gradient(
    var(--charcoal-theme),
    var(--turquoise-theme)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.market_perf p {
  /* font-size: 2rem; */
  /* color: #f3f1fb; */
  font-size: 2rem;
}
.green {
  color: var(--green-movement);
}
.red {
  color: var(--red-movement);
}
.grey {
  color: var(--grey-movement);
}
p span {
  margin: 0 auto;
}

/* MARKET INFO */
.market-info {
  flex: 1;
  width: 100%;
  position: relative;
  /* background-color: brown; */
  overflow: hidden;
}
.search-container {
  width: 100%;
  height: 70px;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#coin-search {
  /* background-color: var(--charcoal-theme); */
  width: 400px;
  height: 50px;
  border-radius: 50px;
  margin: 0 1rem;
  /* color: white; */
  font-size: 1.5rem;
  text-indent: 20px;
  border: 1px solid var(--sienna-theme);
  background-color: var(--transparent-theme);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.424);
}
#coin-search:focus {
  outline: none;
}
.search-submit {
  background-color: var(--transparent-theme);
  /* border: solid 1px white; */
  font-size: 2rem;
  /* color: white; */
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: var(--sienna-theme);
  border: var(--sienna-theme) solid 1px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.424);
}
.expand-tableBTN {
  position: absolute;
  background-color: var(--transparent-theme);
  border: none;
  font-size: 2rem;
  color: var(--sienna-theme);
  right: 0;
  margin: 8px;
}

/* contract icon: 
<ion-icon name="contract-outline"></ion-icon>
*/
.table-container {
  height: 90%;
  width: 90%;
  /* background-color: aquamarine; */
  margin: 20px auto;
  overflow-x: scroll;
  position: relative;
}
tr.coin {
  height: 2rem;
  /* background-color: blue; */
}
/* Crypto Table */
.crypto-table {
  width: 100%;
}

/* Heading elements */
.table-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0;

  /* background-color: #df2525; */
}

/* Sorting buttons */
.sortBTN-container {
  display: flex;
  margin: 0 1rem;
  flex-direction: column;
}
.sortBTN-container button {
  background-color: var(--transparent-theme);
  border: none;
  font-size: 1.1rem;
  color: white;
}
.descending {
  transform: rotate(180deg);
}

/* INVESTMENT EXPANSION VIEW */
.investment-expansion-view {
  width: 100%;
  height: 100%;
  /* background-color: var(--charcoal-theme); */
  display: flex;
  flex-direction: column;
}

/* Heading */
.crypto-header {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.coin-logo {
  height: 5rem;
  width: 5rem;
  margin: 8px;
}
.investment-expansion-view h2,
.investment-expansion-view h3 {
  background: -webkit-linear-gradient(var(--orange-theme), var(--sienna-theme));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bold {
  font-weight: bold;
}

/* Left section */
.investment-info {
  flex: 10;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-gap: 1rem;
  /* position: relative; */
}

.user-investment,
.crypto-info {
  box-sizing: border-box;
  padding: 1rem 0;
  position: relative;
}
.content {
  height: 95%;
  box-sizing: border-box;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.investment-stats,
.coin24hour-stats {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.4rem;
}
.investment-dates {
  flex: 1;
}
.investment-dates p {
  font-size: 0.8rem;
  text-indent: 1rem;
  color: rgb(59, 59, 59);
}
.sold {
  text-decoration: line-through;
}
.investment-table-container {
  height: 16rem;
  width: 90%;
  overflow-x: scroll;
  position: relative;
}
.investment-table {
  width: 100%;
}

.investment-table th {
  height: 2.5rem;
  font-size: 1.3rem;
}

.investment-table button {
  background-color: var(--transparent-theme);
  height: 3rem;
  width: 100%;
  font-size: 1.2rem;
  border: none;
  font-family: "Montserrat", sans-serif;
}

/* Right section */
.price-graph-container {
  flex: 5;
  width: 95%;
  border: solid 1px yellow;
}

.coin24hour-stats {
  flex: 5;
}

/* Investment interaction buttons */
.investment-interactions {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.button-and-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}
.investment-interactions button {
  background-color: var(--transparent-theme);
  height: 3.9rem;
  width: 3.9rem;
  border-radius: 50%;
  /* margin: 0.5rem 1.1rem; */
}

/* Custom checkbox */
.check {
  position: absolute;
  z-index: 10;
  width: 3.9rem;
  height: 3.9rem;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  min-width: 3.9rem;
  height: 3.9rem;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--transparent-theme);
  border: 1px solid var(--turquoise-theme);
  position: relative;
  transition: background-color 0.4s;
}

.check:checked ~ .checkmark {
  background-color: var(--turquoise-theme);
  border: none;
}

/* Checkmark sign created using ::after */
.checkmark::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 1rem;
  border-right: rgba(184, 183, 181, 0.472) 2px solid;
  border-bottom: rgba(184, 183, 183, 0.479) 2px solid;
  /* Positioning the checkmark */
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
  /* opacity: 0; */
  transition: all 0.4s;
}
.check:checked ~ .checkmark::after {
  border-right: white 2px solid;
  border-bottom: white 2px solid;
}

label.description {
  margin-top: 0.5rem;
}

.cashout {
  position: relative;
  border: 1px solid var(--cashout-theme);
  color: var(--cashout-theme);
  font-size: 2.9rem;
}
.delete {
  border: 1px solid var(--delete-theme);
  color: var(--delete-theme);
  font-size: 3rem;
  /* text-align: center; */
  position: relative;
}
.add-investment {
  position: relative;
  border: 1px solid var(--turquoise-theme);
  color: var(--turquoise-theme);
  font-size: 4rem;
}
.investment-interactions ion-icon {
  /* font-size: 2rem;
  color: var(--turquoise-theme); */
  --ionicon-stroke-width: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* PORTFOLIO SUMMARY VIEW */
.portfolio-summary-view {
  height: 100%;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 250, 250, 0);
}
.port-header {
  flex: 1;
  width: 100%;
  /* background-color: #3c8a32; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(var(--yellow-theme), var(--sienna-theme));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/* Portfolio summary */
.port-summary-container {
  flex: 2;
  box-sizing: border-box;
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.424);
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgba(161, 161, 161, 0.705)
  );
}
.port-summary-container label {
  font-size: 1.1rem;
  color: #666666;
}

/* Asset balances */
.asset-balances-container {
  flex: 4;
  width: 100%;
  display: flex;
  align-items: center;
  /* position: relative; */
}

.wrapper {
  flex: 3;
  display: flex;
  flex-direction: column;
  height: 90%;
}
.wrapper label {
  margin: 1rem;
}

.asset-balances {
  /* flex: 3; */
  min-height: 12rem;
  max-height: 12rem;
  overflow-y: scroll;
  margin-left: 1rem;
}
.asset-balances-table {
  width: 100%;
}
.asset-balances-table th {
  height: 2.5rem;
  font-size: 1.2rem;
}
.sunburst-diag {
  flex: 3;
  height: 100%;
  /* background-color: #3c8a32; */
}

.port-movements-container {
  flex: 4;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.port-movements {
  width: 90%;
  max-height: 14rem;
  margin: 0 auto;
  overflow-y: scroll;
}
.port-movements-table {
  width: 100%;
}
.port-movements-table th {
  font-size: 1.3rem;
  height: 2.2rem;
}
.port-movements-table tr.sell {
  background-color: var(--sold-position);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.582);
  background-repeat: no-repeat;
  backdrop-filter: blur();
  z-index: 5;
}

/* FORM FOR NEW INVESTMENT */
.form-container {
  width: 60rem;
  height: 40rem;
  /* margin: auto; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 22;
  background-image: linear-gradient(
    to bottom left,
    rgb(255, 255, 255),
    rgb(194, 193, 193)
  );
  border-radius: 15px;
  z-index: 6;
}

.new-investment-form {
  box-sizing: border-box;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(65, 65, 64);
  height: 100%;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.new-investment-form label {
  padding-left: 2rem;
}

.new-investment-form input,
select {
  font-size: 1.3rem;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 0.5rem;
}
.invest-collection.hidden {
  display: none;
}

.new-investment-form .action-btns {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.action-btns .add-btn,
.cancel-btn {
  width: 10rem;
  height: 3rem;
  align-items: center;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 1.5rem;
  color: rgb(3, 3, 3);
  transition: all 250ms ease-in-out;
  border: none;
}
.add-btn {
  background-image: linear-gradient(
    to bottom left,
    var(--yellow-theme),
    var(--turquoise-theme),
    var(--charcoal-theme)
  );
}
.add-btn:hover {
  box-shadow: 2px 2px 20px var(--turquoise-theme);
  transform: scale(1.05);
}
.cancel-btn:hover {
  box-shadow: 2px 2px 20px var(--delete-theme);
}

/* MICRO-INVESTMENT INSPECTION */
.investment-inspection-container {
  width: 50rem;
  height: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  /* color: white; */
  background-color: white;
  border: solid 2px var(--sienna-theme);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  align-items: center;
  /* box-shadow: 2px 2px 30px var(--purple-branding); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.close-modalBTN {
  align-self: flex-end;
  background-color: var(--transparent-theme);
  height: 3rem;
  width: 3rem;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}
.close-modalBTN ion-icon {
  font-size: 2.8rem;
  --ionicon-stroke-width: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.investment-inspection-info {
  flex: 5;
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  width: 65%;
  box-sizing: border-box;
  padding: 1rem;
  /* text-align: center; */
  /* background-color: yellow; */
}
.investment-data {
  text-align: left;
  font-weight: bold;
}
.investment-inspection-container .investment-interactions {
  flex: 1;
}

/* HIDDEN CLASS */
.investment-inspection-container.hidden,
.overlay.hidden,
.form-container.hidden,
.success-message.hidden,
.error-message.hidden {
  display: none;
}

/* POPUP MESSAGES */
.success-message,
.error-message {
  width: 20rem;
  height: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
  color: white;
  font-size: 1.5rem;
  background-color: var(--turquoise-theme);
  border-radius: 15px;
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  align-items: center;
  box-shadow: 2px 2px 30px var(--turquoise-theme);
}
.success-message ion-icon,
.error-message ion-icon {
  font-size: 4rem;
  padding: 0 2rem;
}
.error-message {
  background-color: var(--charcoal-theme);
  box-shadow: 2px 2px 30px var(--charcoal-theme);
}
